/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Poppins:wght@400;600;700&display=swap");
/* Fin Fuentes */

/* Variables Globales */
:root {
  --Timber-wolf: #d3d3d3;
  --Dim-gray: #696969;
  --Forest-green: #11862f;
  --Process-Cyan: #51b0d7;
  --Crimson: #dc143c;
  --White: #ffffff;
  --Black: #000000;
}
/* Fin Variables Globales */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  box-sizing: border-box;
}

.registro-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form-container {
  width: 700px;
  max-width: 100%;
  background: rgba(81, 176, 215, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(81, 176, 215, 0.3);
}

.form-header {
  background: var(--Dim-gray);
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  color: var(--Timber-wolf);
  border-bottom: 5px solid var(--White);
}

.form {
  padding: 25px 40px;
}

.form-box {
  padding: 25px 40px;
  margin-bottom: 10px;
}

.form-box input{
  display: block;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--Timber-wolf);
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.form-box select{
  display: block;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--Timber-wolf);
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.form-box textarea{
  display: block;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--Timber-wolf);
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.form-box input,
textarea,
select:focus{
  outline-color: var(--Process-Cyan);
}